/* 主题颜色 */
@Primary: #388E3C;                  //主色
@Minor: #E8F6EA;                    //辅色 F0F9EB
@Border: #8AC38D;                   //边框
@Success: #67C23A;                  //成功
@SuccessBg: #F0F9EB;                //成功-背景
@SuccessBorder: #95D475;            //成功-边框
@Warning: #E6A23C;                  //警告
@WarningBg: #FDF6EC;                //警告-背景
@WarningBorder: #EEBE77;            //警告-边框
@Danger: #F56C6C;                   //危险
@DangerBg: #FEF0F0;                 //危险-背景
@DangerBorder: #F89898;             //危险-边框
@Info: #909399;                     //信息
@InfoBg: #F4F4F5;                   //信息-背景
@InfoBorder: #B1B3B8;               //信息-边框
@Text: #606266;                     //文本
/* 边框 */
@BorderColor: #DCDFE6;              //主色
@BorderHover: #A2B4C8;              //悬停
/* 图标 */
@IconColor: #627488;                //图标
@Disabled: #A8ABB2;                 //禁用
/* 其他 */
@Hover: #E2E4E8;                    //悬停
@Shadow: 0 2px 4px rgba(0,0,0,.2);  //投影
/* 动画 */
@Transition: All 0.2s ease-in-out;